.vscode/

in/skins/*
in/suits/*
!in/suits/ignore_ears
in/suits/ignore_ears/*
in/tails/*
in/ears/*

!in/skins/.your_skins_go_here
!in/suits/.your_suits_go_here
!in/suits/ignore_ears/.your_suits_without_ears_go_here
!in/tails/.your_tails_go_here
!in/ears/.your_ears_go_here

out/*

!out/.your_output_will_be_here